/* compiled by scssphp v0.0.9 on Sat, 04 Apr 2015 12:56:35 +0800 (0.1819s) */

@font-face {
  font-family: "Comic Neue";
  src: url("../../fonts/ComicNeue-Angular-Regular.woff"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/roboto.ttf"); }

body {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
  background-color: #efefef; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #333;
  z-index: 100; }
  header .wrapper {
    max-width: 1000px;
    margin: 0px auto; }
    header .wrapper h2 {
      margin: 0px;
      padding: 10px;
      color: white;
      font-weight: normal;
      font-size: medium; }

.headerheight {
  width: 100%;
  height: 40px; }

.player video {
  width: 0px;
  height: 0px;
  display: table; }
  .player iframe {
    display: none; }

.search {
  background-color: white; }
  .search form {
    display: flex;
    padding: 20px;
    background-color: #333;
    box-shadow: 0px 2px 4px -2px #333; }
    .search form input {
      padding: 10px 14px;
      color: #333;
      border: 0px;
      box-shadow: inset 0px 0px 3px -1px #333;
      border-radius: 3px;
      width: 100%;
      outline: none;
      font-size: large; }
      .search form input:active, .search form input:focus {
        border-color: #aac6e5; }
    .search form button {
      margin-left: 10px;
      width: 50px;
      color: #333;
      background-color: #f5df45;
      border: solid 1px #f5df45;
      border-radius: 3px;
      box-shadow: 0px 0px 3px -1px #333;
      cursor: pointer; }
  .search ul.result {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding: 0px 10px; }
    .search ul.result li {
      display: flex;
      cursor: pointer;
      padding: 10px;
      border-bottom: solid 1px #ccc; }
      .search ul.result li .icon {
        min-width: 100px;
        min-height: 100px;
        max-width: 100px;
        max-height: 100px;
        background-size: cover;
        background-position: center center;
        position: relative; }
        .search ul.result li .icon img {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 30%;
          height: 30%; }
      .search ul.result li .konten {
        margin-left: 10px;
        word-wrap: break-word; }
        .search ul.result li .konten .judul {
          color: #444; }
        .search ul.result li .konten .deskripsi {
          font-size: small;
          color: #666; }
        .search ul.result li .konten .tanggal {
          font-size: small;
          color: #666;
          margin-bottom: 5px; }

.playlist {
  margin-left: 15px; }
  .playlist .thumbnail {
    position: relative;
    background-color: #333;
    box-shadow: 1px 1px 3px -1px #333; }
    .playlist .thumbnail > img {
      width: 100%; }
    .playlist .thumbnail .buttons {
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(51, 51, 51, 0.5);
      padding: 10px 0px;
      border-top: solid 4px #fff; }
      .playlist .thumbnail .buttons button {
        background-color: #333;
        border: solid 3px #fff;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        text-align: center;
        width: 50px;
        height: 50px;
        margin: 0px 5px; }
        .playlist .thumbnail .buttons button.big {
          width: 80px;
          height: 80px; }
          .playlist .thumbnail .buttons button.big li {
            font-size: large;
            padding-left: 7px; }
          .playlist .thumbnail .buttons button.big.pause li {
            padding-left: 0px; }
      .playlist .thumbnail .buttons.disable {
        opacity: 0.5; }
  .playlist .current {
    background-color: white;
    box-shadow: 1px 1px 3px -1px #333;
    margin-top: 10px; }
    .playlist .current h3 {
      font-size: medium;
      font-weight: normal;
      padding: 15px 20px;
      margin: 0px;
      color: #333;
      box-shadow: 0px 1px 3px -1px #333;
      background-color: #d6e2ea; }
    .playlist .current ul {
      list-style: none;
      padding: 0px;
      margin: 0px; }
      .playlist .current ul li {
        display: flex;
        cursor: pointer;
        padding: 10px;
        border-bottom: solid 1px #ccc; }
        .playlist .current ul li .icon {
          min-width: 100px;
          min-height: 100px;
          max-width: 100px;
          max-height: 100px;
          background-size: cover;
          background-position: center center;
          position: relative; }
          .playlist .current ul li .icon img {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 30%;
            height: 30%; }
        .playlist .current ul li .konten {
          margin-left: 10px;
          word-wrap: break-word; }
          .playlist .current ul li .konten .judul {
            color: #444; }
          .playlist .current ul li .konten .deskripsi {
            font-size: small;
            color: #666; }
          .playlist .current ul li .konten .tanggal {
            font-size: small;
            color: #666;
            margin-bottom: 5px; }
      .playlist .current ul li .icon {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px; }
        .playlist .current ul li.selected {
          border-left: solid 10px #1a66bb;
          border-right: solid 2px #1a66bb;
          box-shadow: 0px 1px 3px -1px #333; }
    .playlist .current .keterangan {
      padding: 15px 20px;
      color: #333;
      font-size: small; }

.container {
  max-width: 1000px;
  margin: 0px auto;
  margin-top: 10px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  .container .main {
    max-width: 600px;
    width: 600px;
    float: left; }
  .container .sidebar {
    max-width: 400px;
    width: 400px;
    float: left; }
