<div class="page playlist">

	<div class="thumbnail">
		
		<img ng-src="{{ thumbnail ? thumbnail : 'images/default_medium.jpg' }}" alt="">

		<div class="buttons" ng-class="{disable: !(isPlay || isPaused)}">
			
			<div class="seekBar">
				<div id="inputRange" class="inputRange">
					<div id="inputRangeButton" class="trans"></div>
					<div id="inputRangeBFollow" class="trans"></div>
					<div id="inputRangeBackground"></div>
					<div id="loader"></div>
				</div>
				<div id="timerInfo">00:00 / 00:00</div>
			</div>

			<button ng-click="playPrevSong()">
				<li class="fa fa-step-backward"></li>
			</button>

			<button class="big" ng-click="controlPlay()" ng-hide="isPlay">
				<li class="fa fa-play"></li>
			</button>
			<button class="big pause" ng-click="controlPause()" ng-show="isPlay">
				<li class="fa fa-pause"></li>
			</button>

			<button ng-click="playNextSong()">
				<li class="fa fa-step-forward"></li>
			</button>
			
		</div>
	</div>
	
	<div class="current" ng-show="playlist.isCurrent()">
		<h3>
			{{ playlist.current.title }}
		</h3>
		<ul>
			<li ng-repeat="pl in playlist.current.songs track by $index" ng-click="playAt($index)" ng-class="{selected: (playlist.currentIndex == $index)}">
				<div class="icon"  style="background-image: url('{{pl.thumbnail}}');"></div>
				<div class="konten">
					<div class="judul">{{ pl.judul }}</div>
					<div class="tanggal">{{ dateFormat(pl.tanggal) }}</div>
					<div class="tanggal">{{ timeToStr(pl.duration) }}</div>
				</div>
			</li>
		</ul>
		<div class="keterangan">
			{{ timeToStr(playlist.current.totalDuration) }}
		</div>
	</div>

</div>