<div class="search">
	<form ng-submit="searchSubmit()">
		<input type="text" ng-model="searchText">
		<button>
			<span class="icon fa fa-search"></span>
			<span class="text"></span>
		</button>
	</form>
	<ul class="result">
		<li ng-repeat="res in searchResult" ng-click="resultClick(res)">
			<div class="icon" style="background-image: url('{{res.thumbnail}}');">
				<img ng-src="images/{{res.from}}.png" />
			</div>				
			<div class="konten">
				<div class="judul">{{ res.judul }}</div>
				<div class="tanggal">{{ dateFormat(res.tanggal) }}</div>
				<div class="deskripsi" ng-bind-html="res.deskripsi | linky:'_blank'"></div>
			</div>
		</li>
	</ul>
</div>